Sort the Result
Use the sort() method to sort the result in ascending or descending order.

The sort() method takes one parameter for "fieldname" and one parameter for "direction" (ascending is the default direction).

Example
Sort the result alphabetically by name:

In [1]:
import pymongo

connection = "mongodb+srv://root:root@cluster0.xlt5dac.mongodb.net/?retryWrites=true&w=majority"
myclient = pymongo.MongoClient(connection)
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name")

for x in mydoc:
  print(x)

{'_id': ObjectId('62cbba210ce17e02d5280b9c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62cbba210ce17e02d5280ba4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62cbba210ce17e02d5280ba0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62cbba210ce17e02d5280ba6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62cbba210ce17e02d5280b9d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62cbb9c40ce17e02d5280b99'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('62cbba210ce17e02d5280b9e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62cbb9e90ce17e02d5280b9a'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62cbba210ce17e02d5280ba1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62cbba210ce17e02d5280b9f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62cbba210ce17e02d5280ba2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62cbba210ce17e02d5280ba3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62cbba210ce17e02d5280ba7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('62cbba210ce17e02d5280ba5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

Sort Descending
Use the value -1 as the second parameter to sort descending.

sort("name", 1) #ascending
sort("name", -1) #descending

In [2]:
import pymongo

myclient = pymongo.MongoClient(connection)
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name", -1)

for x in mydoc:
  print(x)

{'_id': ObjectId('62cbba210ce17e02d5280ba5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62cbba210ce17e02d5280ba7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('62cbba210ce17e02d5280ba3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62cbba210ce17e02d5280ba2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62cbba210ce17e02d5280b9f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62cbba210ce17e02d5280ba1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62cbb9e90ce17e02d5280b9a'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62cbba210ce17e02d5280b9e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62cbb9c40ce17e02d5280b99'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('62cbba210ce17e02d5280b9d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62cbba210ce17e02d5280ba6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62cbba210ce17e02d5280ba0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62cbba210ce17e02d5280ba4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62cbba210ce17e02d5280b9c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

Delete Document
To delete one document, we use the delete_one() method.

The first parameter of the delete_one() method is a query object defining which document to delete.

Note: If the query finds more than one document, only the first occurrence is deleted.

Example
Delete the document with the address "Mountain 21":

In [3]:
import pymongo

myclient = pymongo.MongoClient(connection)
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

Delete Many Documents
To delete more than one document, use the delete_many() method.

The first parameter of the delete_many() method is a query object defining which documents to delete.

Example
Delete all documents were the address starts with the letter S:

In [4]:
import pymongo

myclient = pymongo.MongoClient(connection)
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

4  documents deleted.

Delete All Documents in a Collection
To delete all documents in a collection, pass an empty query object to the delete_many() method:

Example
Delete all documents in the "customers" collection:

In [5]:
import pymongo

myclient = pymongo.MongoClient(connection)
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

23  documents deleted.

Delete Collection
You can delete a table, or collection as it is called in MongoDB, by using the drop() method.

Example
Delete the "customers" collection:

In [6]:
import pymongo

myclient = pymongo.MongoClient(connection)
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mycol.drop()

The drop() method returns true if the collection was dropped successfully, and false if the collection does not exist.

Update Collection
You can update a record, or document as it is called in MongoDB, by using the update_one() method.

The first parameter of the update_one() method is a query object defining which document to update.

Note: If the query finds more than one record, only the first occurrence is updated.

The second parameter is an object defining the new values of the document.

Example
Change the address from "Valley 345" to "Canyon 123":

In [8]:
import pymongo

myclient = pymongo.MongoClient(connection)
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
  print(x)

{'_id': ObjectId('62cbbc9a79a863a101bfb674'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('62cbbc9b79a863a101bfb675'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62cbbc9b79a863a101bfb677'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62cbbc9b79a863a101bfb678'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62cbbc9b79a863a101bfb679'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('62cbbc9b79a863a101bfb67a'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62cbbc9b79a863a101bfb67b'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62cbbc9b79a863a101bfb67c'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62cbbc9b79a863a101bfb67d'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62cbbc9b79a863a101bfb67e'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62cbbc9b79a863a101bfb67f'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62cbbc9b79a863a101bfb680'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62cbbc9b79a863a101bfb681'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62cbbc9b79a863a101bfb682'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

To update all documents that meets the criteria of the query, use the update_many() method.

In [9]:
import pymongo

myclient = pymongo.MongoClient(connection)
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

4 documents updated.

Limit the Result
To limit the result in MongoDB, we use the limit() method.

The limit() method takes one parameter, a number defining how many documents to return.

Consider you have a "customers" collection:

In [10]:
import pymongo

myclient = pymongo.MongoClient(connection)
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myresult = mycol.find().limit(5)

#print the result:
for x in myresult:
  print(x)

{'_id': ObjectId('62cbbc9a79a863a101bfb674'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('62cbbc9b79a863a101bfb675'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62cbbc9b79a863a101bfb677'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62cbbc9b79a863a101bfb678'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62cbbc9b79a863a101bfb679'), 'name': 'Michael', 'address': 'Canyon 123'}